.input {
  
    background-color: #070A17;
    border:1px solid #3D4550;
    border-radius:5px;
    height:35px;
    margin-bottom:20px;
    color:white
}

.input_title {
    color: #4E5267;
    font-size: 14px;
    font-weight: 500;
}
.input_div{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:auto 0
}

@media (max-width:768px) {
/* 
    .input_div {
        width: 100%;
        display: flex;
        flex-direction: column;

    } */

    .input_form {
        width: 100%
    }

    .input_title {
        font-size: 20px;
    }

    .input {
        width: 100%
    }

}

@media (max-width:480px) {
    .input_title {
        font-size: 18px;
    }

    .input {
        height: 30px
    }
/* 
    .input_div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    } */
}