

.input{
    width:580px;
    height: 50px;
    background-color: rgba(217, 217, 217, 1);
    border:0;
    border-radius: 25px;
}

.input_title{
    color:rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 25px;
    letter-spacing:2px ;
}


@media (max-width:768px){

 .input_div{
    width:100%;
    display: flex;
    flex-direction: column;

 }

 .input_form{
    width:100%
 }

     .input_title{
      font-size: 20px;
    }
    .input{
        width:100%
    }

}
@media (max-width:480px){
   .input_title{
    font-size: 18px;
   } 
   .input{
    height:30px
   }
   
 .input_div{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

 }
}