.signUp_div {
    margin: 0 auto;
padding-top:200px;
margin-bottom:200px

}

.signUp_logo{
    text-decoration: none;
    font-size: 20px;
    color: #891a85;
    text-align: center;
    margin-bottom: 30px;
}

.signUp_main_div {
        width:50%;
        background-color:  #0B1023;
        margin: 0 auto;
        border:1px solid #3D4550;
        border-radius:5px;
        margin-bottom: 10px;
        padding:30px 0
}
.signUp_inputs_div{
    width:50%;
   margin: 0 auto;
}


.signUp_btn_div{
    width: 100%;
background-color: #891a85;
margin:30px 0;
border-radius:5px;
height: 35px;
display: flex;
justify-content: center;
align-items: center;
color:white;
border:0
}

/* .signUp_btn {
  text-decoration: none;
  color: white;
} */

.signUp_label {
    text-align: center;
    color: #3D4550;
    font-size: 25px;
    font-weight: 400px;
}

.signUp_btn_div:hover{
    background-color: #070A17;
    transition: linear 0.2s;
    cursor: pointer;
    }
/* .signUp_item_input {
    padding-bottom: 20px;
    width: 100%;

} */

.signUp_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    background-color:  #0B1023;
    border-radius: 5px;
    border:1px solid #3D4550;
    margin-top:20px;
    padding:20px 0
}


.signUp_footer_link {
    color: rgba(112, 109, 255, 1);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;

}

.signUp_footer_text {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 400;
}




@media (max-width:768px) {
    /* .signUp_div {
        width: 96%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    .signUp_main_div {
        width:60%;
    }
    .signUp_inputs_div{
        width:80%
    }
.signUp_footer{
    width:60%;

}


}

@media (max-width:480px) {

    .signUp_main_div{
        width:90%
    }
    .signUp_inputs_div {
        width:80%;
    }
.signUp_footer{
    width:90%;

}


}