body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #070A17;
}

.container {
  margin: 0 auto;
  width:100%;

}

@media (max-width:768px){
  .container{
    position:static;
    width:100%;
  
  }
}